.nv_BridgedIcon {
    width: 16px;
    height: 16px;
    position: relative;
    display: block;
}

.nv_BridgedIcon::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.nv_BridgedIcon_facebook::after {
    background-image: url('$(res)/img/social/facebook_messenger.svg');
}

.nv_BridgedIcon_hangouts::after {
    background-image: url('$(res)/img/social/hangouts.svg');
}

.nv_BridgedIcon_telegram::after {
    background-image: url('$(res)/img/social/telegram.svg');
}

.nv_BridgedIcon_whatsapp::after {
    background-image: url('$(res)/img/social/whatsapp.svg');
}

.nv_BridgedIcon_instagram::after {
    background-image: url('$(res)/img/social/instagram.svg');
}

.nv_BridgedIcon_twitter::after {
    background-image: url('$(res)/img/social/twitter.svg');
}

.nv_BridgedIcon_slack::after {
    background-image: url('$(res)/img/social/slack.svg');
}
.nv_BridgedIcon_matrix::after {
    background-image: url('$(res)/img/matrix-m.svg');
}
